*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: rgb(37, 10, 100);
}
.menu {
  float: right;
  width: 600px;
 
    
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #bfc0c7;
    z-index: 1;
    border-bottom: 1px solid ;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: blue;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
nav ul li a :hover{
    text-decoration: underline;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;

}
.kolom.deskripsi {
    font-size: 20 px;
    font-weight: bold;
    font-family: sans-serif;
    color: blue;
}
h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(11, 44, 87);
    width: 100%;
    line-height: 50px;
}
h3 {
    font-family: sans-serif;
    font-weight: 250px;
    font-size: 25px;
   margin-left: 20px;
    color: rgb(16, 16, 180);
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: rgb(31, 11, 143);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(233, 233, 243);
    cursor: pointer;
}
a.tbl-biru :hover{
    background: rgb(2, 52, 117);
    text-decoration: none;
}
.tengah {
    text-align: right;
    width: 100% ;
}
MS img {
width: 600px;
height: 900px;
border-bottom: 70px;

} 

.Smansa img{
    width:500px;
    height: 300px;

}

.tengah {
    text-align: left;
    width: 100% ;



}
.ruangan img {
    width: 20%;
   border-radius: 50px;
}
.perpustakaan img{
    width: 20%;
   border-radius: 50px;

}
.laboratorium img{
    width: 20%;
   border-radius: 50px;

}
.olahraga img {
    width: 200px;
    height: 250px;

}
.mushola img{
    width: 300px;
    height: 350px;
}

    
